<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hola</title>
    <style>
       * {
           margin: 0px;
           padding: 0px;
       }
        body{
            background: lightcyan;
        }
        h3{
            text-align: center;
            border: solid 5px black;
            border-radius: 10px;
            padding: 50px;
            width: 70%;
            margin-top: 90px;
            margin-left: 15%;
            font-size: 2em;

        }
    </style>
</head>
<body>
<div id="response">
    <h3>{{mess}}</h3>

</div>
</body>
</html>